{% extends 'base.template.html' %}

{%block title%}CRM{%endblock%}

{%block content%}
<table class="table">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Marketing Consent </th>
            <th> </th>
        </tr>
    </thead>
    {% for customer in all_customers %}
    <tr>
        <td>{{customer.first_name}}</td>
        <td>{{customer.last_name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.send_marketing_material}}</td>
        <td>
            <a href="{{ url_for('show_edit_customer', customer_id=customer.id) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('show_delete_customer', customer_id=customer.id) }}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}